body {
  background-color: #f4f1de;
}

.topContent {
  /*display: inline;
    flex-basis: auto;*/
  display: flex;
  justify-content: center;
}

.logo {
  float: left;
}

.navBar {
  background-color: #81b29a;
  display: flex;
  position: sticky;
  transform: translate(0%, 75%);
  height: 10%;
  border-radius: 10px;
  width: 75%;
  border: 5px #f2cc8f solid;
  color: white;
}

.list {
  text-decoration-color: white;
  display: inline;
  padding-inline: 10%;
  list-style-type: none;
}

.logOut {
  display: flex;
  height: 10%;
}

.searchBar {
  transform: translate(50%, 0%);
  width: 50%;
  background-color: #f2cc8f;
  border-radius: 10px;
  height: 4em;
  padding: 1%;
}

.searchLabel {
  display: inline-block;
}

.searchInput {
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 65%;
  border: 1px #595959 solid;
  border-radius: 5px;
}

.searchButton {
  padding: 1%;
  margin-left: 5%;
  width: 15%;
  background-color: #ffb703;
  border: #3d405b solid;
  border-radius: 5px;
}

.filters {
  background-color: #eeeeee;
  border-radius: 5px;
  margin: 2%;
  padding: 1%;
  border: 1px black solid;
}

.feed {
  margin: 2% 5% 2% 5%;
}

.feature {
  font-size: xx-large;
  color: #ffb703;
  margin-top: 3%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
