.page {
  max-width: 1420px;
  margin: 0 auto;
}
.eventContainer {
  background: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 0.3%;
  margin-top: 3%;
  box-shadow: -3px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eventTop {
  flex: 1;
}
.eventTitle {
  float: left;
}
.eventSmall.details {
  flex: 1;
  display: flex;
}
.stats {
  float: right;
  margin-right: 1%;
}
.eventUser {
  float: left;
}
.popup {
  float: right;
  border: 1px #ffb703 solid;
  box-shadow: -1px 1px #ffb703;
  border-radius: 1px;
  margin-right: 0.3%;
  margin-top: -0.1%;
  margin-bottom: 0.6%;
}

.title {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  margin: 2% 0% 0 0;
  border-radius: 10px 10px 0 0;
  padding: 1%;
}

.button {
  float: right;
  background-color: #ffb703;
  border: none;
  box-shadow: 1px 1.5px rgba(188, 136, 4, 0.557),
    -1px -1.5px rgba(188, 136, 4, 0.557);
  margin-left: 0.3%;
  padding: 0.3% 0.5%;
}

.button:hover {
  transform: translate(0px, -0.5px);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  box-shadow: 0.6px 0.6px rgba(188, 136, 4, 0.557),
    -0.6px -0.6px rgba(188, 136, 4, 0.557);
  box-shadow: none;
}
.actions {
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: 0%;
}
.removeDecoration {
  text-decoration: none;
  color: black;
}

/*Creation form stuff*/

.titleInput {
  width: 100%;
}

.contentInput {
  height: 10rem;
  width: 100%;
}

.buttonCreation {
  float: right;
  background-color: #ffb703;
  margin-top: 1%;
  margin-bottom: none;
}

/*Specific event stuff*/
.eventHeader {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-radius: 10px 10px 0 0;
  margin: 2% 0% 0 0;
  display: flex;
  justify-content: space-between;
}

.eventContent {
  background: white;
  border: 3px #f2cc8f solid;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  margin: 0 0% 1% 0;
}

.comments {
  background: white;
  border: 3px #f2cc8f solid;
  border-radius: 5px;
  margin-bottom: 1%;
}

.title {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  margin: 2% 0% 0 0;
  border-radius: 10px 10px 0 0;
  padding: 1%;
}

.content {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-top: 0;
  margin: 0% 0% 0 0;
  border-radius: 0 0 10px 10px;
  padding: 1%;
  padding-bottom: 5%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(36, 36, 36, 0.7);
}

.confirmationPopup {
  position: fixed;
  width: 50vw;
  height: 15vh;
  top: 25%;
  left: 25%;
  background: whitesmoke;
  border: 1px black solid;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  padding: 2%;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}

.postWarning {
  color: crimson;
  flex: 2;
}

.timePicker {
  padding-top: 3%;
  float: right;
  width: auto;
}

.calendarWrap {
  background-color: rgba(169, 204, 236, 0.845);
  padding: 3%;
  border-radius: 5%;
  box-shadow: 0px 2px 2px 0.5px rgb(172, 178, 183);
  height: auto;
  width: auto;
}

.dateTime {
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}

.dateTime button {
  margin-left: auto;
}

.dateTime input {
  width: 10%;
  min-width: 70px;
  padding: 0.5% 1%;
  margin: 1%;
  border-radius: 6%;
  border: none;
  background-color: rgba(200, 212, 198, 0.925);
}

.dateTime input::-webkit-calendar-picker-indicator {
  display: none;
}

.img {
  border: 1px solid black;
  border-radius: 2px;
}

.imageInput {
  float: left;
}
/*Specific article images*/

.imageContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(203, 203, 203);
}

.picture {
  height: 30vh;
  min-height: 50px;
  max-height: 180px;
}

/*DeleteEvent stuff*/
.confirmationPopup {
  position: fixed;
  width: 50vw;
  height: fit-content;
  top: 25%;
  left: 25%;
  background: whitesmoke;
  border: 1px black solid;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  padding-top: 5%;
  font-size: 1.3rem;
}

.buttonContainer {
  display: flex;
  flex: 1;
  width: 90%;
  padding: 2%;
}
.buttonContainer button {
  flex: 1;
  height: 100%;
  margin: 0% 1%;
  border-radius: 3%;
  border: 0;
  background-color: #f2cc8f;
  box-shadow: -3px 3px #ba9869;
}
.buttonContainer .yes {
  background-color: rgba(180, 60, 60);
  color: #eeeeee;
}

.postWarning {
  margin-top: 7%;
  color: crimson;
  flex: 2;
}

.toggle {
  font-weight: 600;
  border: none;
  background-color: white;
}

/* Comments */
.comments {
  background: white;
  border: 3px #f2cc8f solid;
  border-radius: 5px;
  margin-bottom: 1%;
}

.infoIcon {
  height: 1rem;
  margin-bottom: -0.2rem;
}

.infoButton {
  align-items: center;
  border-radius: 50%;
  border: none;
  background: #ffb703;
  padding: 0% 0%;
  box-shadow: -0.5px 1px #757373;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.infoButton:hover {
  transform: translateY(-2px);
}

.popupHeader {
  font-size: large;
  margin-bottom: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.steps {
  text-align: start;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: peachpuff;
  padding: 1% 4%;
  border-radius: 3%;
}

.confirmationPopup p {
  font-size: small;
}
.confirmationPopup ul {
  font-size: 0.8rem;
  list-style-type: none;
  line-height: 150%;
  margin-top: 1.2%;
}
.confirmationPopup a {
  text-decoration: none;
  color: lightseagreen;
}

.tags {
  background-color: #8ecae6;
  border-radius: 5px;
  border: 1px black solid;
  margin-right: 1%;
  padding: 0.5%;
}
