.page {
  max-width: 1420px;
  margin: 0 auto;
}

.recommendedContainer {
  padding: 0 1%;
  flex: 1;
}

.recommendedArticle {
  text-decoration: none;
  color: black;
}

.tagsContainer {
  position: relative;
  top: -50%;
}

.articleDisplay {
  display: flex;
  flex-direction: column;
}

.articleTitle {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-radius: 10px 10px 0 0;
  margin: 1% 0% 0 0;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  padding: 0.8% 0% 0.4% 1%;
}

.articleHeader {
  margin-left: 0.8%;
  margin-bottom: 0.5rem;
  font-weight: 500;
  padding-bottom: 0.4%;
  width: fit-content;
  border-bottom: 2px solid #9c9c9c3d;
}

.articleText {
  margin-left: 1.4%;
  margin-bottom: 1rem;
  font-size: medium;
  white-space: pre-wrap;
}

.articleContent {
  background: white;
  border: 3px #f2cc8f solid;
  font-size: large;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 1% 0.2%;
  word-wrap: break-word;
}

.line {
  background-color: #f2cc8f;
  height: 3px;
  mix-blend-mode: darken;
}

.recommendedContent {
  background: white;
  border: 3px #f2cc8f solid;
  font-size: larger;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  padding-top: 1%;
  margin: 0 0% 1% 0;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.otherArticles {
  display: flex;
  flex: 5;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(36, 36, 36);
}

.otherArticlesTitle {
  display: block;
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-radius: 10px 10px 0 0;
  margin: 4% 0% 0 0;
  padding: 2% 1% 1.5% 1%;
  font-size: large;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.otherArticlesTitleText {
  width: 50%;
}
.otherArticlesTitleContainer {
  display: flex;
}

.otherArticlesContainer {
  flex: 1;
  width: inherit;

  margin: 1% 1.3%;
}

.otherArticlesContent {
  background: white;
  border: 3px #f2cc8f solid;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10vh;
  min-height: 10vh;
  padding: 2% 1%;
}

.layout {
  margin: 0 3%;
}

.article {
  box-sizing: border-box;
}
.navBar {
  flex: 1;
}

.navigator {
  background: white;
  border: 1px black solid;
  border-radius: 10px;
  margin-right: 3%;
  margin-left: 5%;
  box-shadow: -3px 3px black;
  width: 50%;
}

.title {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  margin: 2% 0% 0 0;
  border-radius: 10px 10px 0 0;
  padding: 1%;
}

.content {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-top: 0;
  margin: 0% 0% 0 0;
  border-radius: 0 0 10px 10px;
  padding: 1%;
}

.titleInput {
  width: 100%;
}

.headerInput {
  width: 100%;
}

.contentInput {
  width: 100%;
  height: 10rem;
  overflow: visible;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.imageInput {
  width: 100%;
}

.actions {
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: 0.4%;
}

.button {
  float: right;
  background-color: #ffb703;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1.5px rgba(188, 136, 4, 0.557),
    -1px -1.5px rgba(188, 136, 4, 0.557);
  margin-left: 0.3%;
  padding: 0.3% 0.5%;
}

.button:hover {
  transform: translate(0px, -0.5px);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  box-shadow: 0.6px 0.6px rgba(188, 136, 4, 0.557),
    -0.6px -0.6px rgba(188, 136, 4, 0.557);
  box-shadow: none;
}

.imageContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(203, 203, 203);
  margin: -1% -0.3% 1% -0.3%;
}

.picture {
  height: 30vh;
  min-height: 50px;
  max-height: 300px;
}

.otherTags {
  background-color: #8ecae6;
  border-radius: 5px;
  border: 1px black solid;
  margin-right: 1%;
  margin-left: auto;
  width: fit-content;
}
.tags {
  background-color: #8ecae6;
  border-radius: 5px;
  border: 1px black solid;
  padding: 0.1rem 2%;
  margin-right: 1%;
  width: fit-content;
  float: left;
}

.postContainer {
  margin-top: 1%;
  padding-top: 1%;
}

.image {
  height: 30vh;
  max-height: 200px;
  min-height: 120px;
  margin-left: auto;
  margin-right: 1%;
  margin-bottom: auto;
  padding: 0% 0% 0% 1%;
}

.articleHeaderFeed {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-radius: 10px 10px 0 0;
  margin: 4% 0% 0 0;
  padding: 2% 1% 1.5% 1%;
  font-size: large;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: larger;
  font-weight: bolder;
}
