.page {
  max-width: 1420px;
  margin: 0 auto;
}

.recommendedGuide {
  text-decoration: none;
  color: black;
}

.guideHeader {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  margin: 2% 0% 0 0;
  border-radius: 10px 10px 0 0;
}

.guideContent {
  background: white;
  border: 3px #f2cc8f solid;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  margin: 0 0% 1% 0;
}

.line {
  background-color: #f2cc8f;
  height: 3px;
  mix-blend-mode: darken;
}

.otherGuides {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(36, 36, 36);
}

.otherGuidesContainer {
  flex: 1;
  width: inherit;
  max-height: 600px;
  margin: 1% 1%;
}

.otherGuidesHeader {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-radius: 10px 10px 0 0;
  margin: 2% 1% 0 0;
}

.otherGuidesContent {
  background: white;
  border: 3px #f2cc8f solid;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  margin: 0 1% 0 0;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout {
  display: flex;
}

.navigator {
  background: white;
  border: 1px black solid;
  border-radius: 10px;
  margin-right: 3%;
  margin-left: 5%;
  box-shadow: -3px 3px black;
  width: 50%;
}

.button {
  float: right;
  background-color: #ffb703;
}

.tags {
  background-color: #8ecae6;
  border-radius: 5px;
  border: 1px black solid;
  margin-right: 1%;
  padding: 0.5%;
}
