.page {
  max-width: 1420px;
  margin: 0 auto;
}

.postContainer {
  background: white;
  border: 2px rgb(53, 53, 53) solid;
  border-radius: 5px;
  padding: 0.3%;
  margin-top: 3%;
  box-shadow: -3px 3px rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postContainer:hover {
  border: 2px rgb(84, 84, 84) solid;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate(-1px, 1px);
  box-shadow: none;
}
.postTop {
  flex: 1;
}
.postTitle {
  float: left;
  text-decoration: none;
  font-style: italic;
  color: rgb(16, 16, 16);
  padding-bottom: 0.2%;
}
.details {
  margin-top: 0.2%;
}
.postSmall.details {
  flex: 1;
  display: flex;
}
.stats {
  float: right;
  margin-right: 1%;
}
.postUser {
  float: left;
  margin-left: 0.3%;
}
.popup {
  float: right;
  border: 1px #ffb703 solid;
  box-shadow: -1px 1px #ffb703;
  border-radius: 1px;
  margin-right: 0.3%;
  margin-top: -0.1%;
  margin-bottom: 0.6%;
}

/*DeletePost stuff*/
.confirmationPopup {
  position: fixed;
  width: 50vw;
  height: 30vh;
  top: 25%;
  left: 25%;
  background: whitesmoke;
  border: 1px black solid;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  padding-top: 10%;
  font-size: 1.3rem;
}

.buttonContainer {
  display: flex;
  flex: 1;
  width: 90%;
  padding: 2%;
}
.buttonContainer button {
  flex: 1;
  height: 100%;
  margin: 0% 1%;
  border-radius: 3%;
  border: 0;
  background-color: #f2cc8f;
  box-shadow: -3px 3px #ba9869;
}
.buttonContainer .yes {
  background-color: rgba(180, 60, 60);
  color: #eeeeee;
}

.postWarning {
  color: crimson;
  flex: 2;
}

.toggle {
  font-weight: 600;
  border: none;
  background-color: white;
}
/*DeletePost stuff END*/

.button {
  float: right;
  background-color: #ffb703;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1.5px rgba(188, 136, 4, 0.557),
    -1px -1.5px rgba(188, 136, 4, 0.557);
  margin-left: 0.3%;
  margin-top: 0.3%;
  padding: 0.3% 0.5%;
}

.button:hover {
  transform: translate(0px, -0.5px);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  box-shadow: 0.6px 0.6px rgba(188, 136, 4, 0.557),
    -0.6px -0.6px rgba(188, 136, 4, 0.557);
  box-shadow: none;
}

.link {
  text-decoration: none;
  color: black;
}

.forumHeader {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-radius: 10px 10px 0 0;
  margin: 2% 0% 0 0;
  display: flex;
  justify-content: space-between;
}

.forumContent {
  background: white;
  border: 3px #f2cc8f solid;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  margin: 0 0% 1% 0;
}

.comments {
  background: white;
  border: 3px #f2cc8f solid;
  border-radius: 5px;
  margin-bottom: 1%;
}

.title {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  margin: 2% 0% 0 0;
  border-radius: 10px 10px 0 0;
  padding: 1%;
}

.content {
  background: #eeeeee;
  border: 3px #f2cc8f solid;
  border-top: 0;
  margin: 0% 0% 0 0;
  border-radius: 0 0 10px 10px;
  padding: 1%;
  padding-bottom: 5%;
}

.titleInput {
  width: 100%;
}

.contentInput {
  height: 10rem;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.imageInput {
  width: 100%;
}

.buttonCreation {
  float: right;
  background-color: #ffb703;
}

.moreOptions {
  border-radius: 10px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(36, 36, 36, 0.7);
}

.imageContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(203, 203, 203);
}

.picture {
  height: 300px;
}

.forumText {
  white-space: pre-wrap;
}

.tags {
  background-color: #8ecae6;
  border-radius: 5px;
  border: 1px black solid;
  margin-right: 1%;
}

.tagsContainer {
  position: relative;
  top: -50%;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.postDisplay {
  background-color: #d3c5ab8f;
  padding: 2% 2%;
  margin-top: 3%;
  border-radius: 3%;
}

.announcement {
  font-size: large;
  font-weight: 500;
}
