body {
  background-color: #f4f1de;
}

.logo {
  width: 50px;
  justify-self: center;
}

.logoContainer {
  text-align: center;
  height: 10%;
  margin-top: 1%;
}

.navBar {
  background-color: #81b29a;
  display: flex;
  position: sticky;
  transform: translate(0%, 0%);
  margin: 1% 1%;
  height: 10%;
  border-radius: 10px;
  width: 100%;
  border: 5px #f2cc8f solid;
  color: white;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.listItem {
  display: block;
  text-decoration-color: white;
  list-style-type: none;
  padding: 10px;
}

.navBarLink {
  color: white;
  text-decoration: none;
}

.navBarLink:hover {
  color: blue;
}

.logOut {
  display: flex;
  width: max-content;
  height: 100%;
  text-decoration: none;
  color: black;
  line-height: 295%;
}

.logOut:hover {
  background-color: #f2cc8f;
  display: flex;
  width: max-content;
  text-decoration: none;
  color: black;
}

.buttonContainer {
  height: 200px;
  max-height: 45.3px;

  display: inline-table;
}

.searchBar {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f2cc8f;
  border-radius: 10px;
  height: 4em;
  padding: 1%;
  margin-bottom: 1%;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
}

.searchBarSection {
  flex-direction: row;
  flex: 1;
  margin-bottom: 1%;
}
.tagsContainer {
  position: relative;
  top: -50%;
}

.filterContainer {
  width: 90%;
}

.searchLabel {
  display: inline-block;
}

.searchInput {
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 65%;
  border: 1px #595959 solid;
  border-radius: 5px;
}

.searchButton {
  float: right;
  width: 15%;
  background-color: #ffb703;
  border: #3d405b solid;
  border-radius: 5px;
}

.filters {
  background-color: #eeeeee;
  border-radius: 5px;
  margin: 2%;
  padding: 1%;
  border: 1px black solid;
  cursor: pointer;
}

.topContent {
  /*display: inline;
    flex-basis: auto;*/
  display: flex;
  align-items: center;
}

.resultContainer {
  background: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 0.3%;
  margin-top: 3%;
  margin-right: 3%;
  box-shadow: -3px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resultTop {
  flex: 1;
}
.resultTitle {
  float: left;
}
.resultSmall.details {
  flex: 1;
  display: flex;
}
.stats {
  float: right;
  margin-right: 1%;
}
.resultUser {
  float: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.articleType {
  margin-left: 5%;
  padding: 0.2%;
  background-color: lightcyan;
  border: #3d405b solid;
  border-radius: 5px;
  float: right;
}

.guideType {
  margin-left: 5%;
  padding: 0.2%;
  background-color: rgb(230, 184, 175);
  border: #3d405b solid;
  border-radius: 5px;
  float: right;
}

.interviewType {
  margin-left: 5%;
  padding: 0.2%;
  background-color: rgb(213, 166, 189);
  border: #3d405b solid;
  border-radius: 5px;
  float: right;
}

.forumType {
  margin-left: 5%;
  padding: 0.2%;
  background-color: rgb(166, 169, 213);
  border: #3d405b solid;
  border-radius: 5px;
  float: right;
}

.tagsTable {
  position: absolute;
  background-color: white;
  border: 3px #f2cc8f solid;
  width: 50vw;
  height: 30vh;
  margin-top: 2%;
  border-radius: 10px;
  padding: 1%;
  z-index: 100;
}

.tagsList {
  margin-bottom: 1%;
}

.checkbox {
  cursor: pointer;
}

.tagsLabel {
  background-color: #eeeeee;
  border-radius: 5px;
  border: 1px black solid;
  margin-right: 0.2%;
  cursor: pointer;
  font-size: small;
  padding: 0.4%;
}

.tagsLabel:hover {
  background-color: lightcoral;
}

input[type="checkbox"]:checked + .tagsLabel {
  background-color: lightcoral;
  box-shadow: -1.5px 1px darkgoldenrod;
}

.accordion {
  background-color: white;
  cursor: pointer;
  text-align: left;
  transition: 0.5s;
  border: 2px #f2cc8f solid;
  padding: 0.5%;
  border-radius: 10px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.active,
.accordion:hover {
  background-color: antiquewhite;
}

.accordionContent {
  display: none;
  overflow: hidden;
}

.checkbox[type="checkbox"] {
  visibility: hidden;
}

.tags input:checked {
  background-color: red;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(36, 36, 36, 0.7);
}

.BookmarkButton {
  float: right;
  margin: 5% 5% 2% 0%;
  border: rgb(166, 169, 213) solid 1px;
  background-color: #81b29a;
  color: white;
  border-radius: 3%;
  width: max-content;
}

.bookmarked {
  float: right;
  margin: 5% 5% 2% 0%;
  border: #81b29a solid 1px;
  border-radius: 3%;
  width: max-content;
  color: #81b29a;
  background-color: white;
}

.BookmarkButton:hover {
  box-shadow: 1px 1px#8ecae6;
  transform: translate(-1px, 0px);
}

.bookmarked:hover {
  box-shadow: -1px 1px#8ecae6;
  transform: translate(1px, 0px);
}
